div{
	width: 200px;
	height: 200px;
}
.naranja{
	background-color: red;
	position: static;
}

.morado{
	background-color: purple;
	position: relative;
    width: 100px;
	height: 100px;
	bottom: 200px;
	margin: 50px;
}


.amarillo{
	background-color: yellow;
	position: absolute;
	width: 35px;
	height: 35px;
	bottom: 30px;
	top:8px;
	margin: 50px;

}

div{
	width: 200px;
	height: 200px;
}
.azul{
	background-color: blue;
	position: relative;
	top: 70px;
}
.verde{
	background-color: green;
	position: relative;
	width: 100px;
	height: 100px;
	left: 50px;
	bottom: 80px;
	float: 40px;
}
.negro{
	background-color: black;
	position: absolute;
	width: 50px;
	height: 50px;
	top:278px;

}